{% extends 'app/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Editar los Activos</h4>
              <p class="card-category">Completa la Tabla</p>
            </div>
            <div class="card-body">
              {% bootstrap_form_errors form layout='inline' %}
                <form method="post">
                  {% csrf_token %} 
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="form-group">
                        <label for="form.codigo.name">{{ form.codigo.label }}</label>
                        {{ form.codigo }} 
                      </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                      <div class="form-group">
                        <label for="form.serie.name">{{ form.n_serie.label }}</label>
                        {{ form.n_serie }} 
                        
                      </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                      <div class="form-group">
                        <label for="form.nombre.name">{{ form.nombre.label }}</label>
                        {{ form.nombre }}
                      </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                      <div class="form-group">
                        <label for="form.categoria.name">{{ form.categoria.label }} 
                                                    
                          <a class="related-widget-wrapper-link add-related" id="add_id_categoria" href="{% url 'activos:tipobien_create' %}" title="Añadir otra categoria"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"></a>
                          <a class="mdi mdi-eye" href="{% url 'activos:tipobien_list' %}" title="Ver las Categorias"></a>
                        </label>
                        
                        {{ form.categoria }} 

                      </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                      <div class="form-group">
                        <label for="form.delegado.name">{{ form.delegado.label }}
                          <a class="related-widget-wrapper-link add-related" id="add_id_delegado" href="{% url 'usuarios:usuario_create' %}" title="Añadir otro Delegado"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"></a>
                          <a class="mdi mdi-eye" href="{% url 'usuarios:usuario_list' %}" title="Ver los delegados disponibles"></a>
                        </label>
                        {{ form.delegado }}
                      </div>
                    </div>
                    
                    <div class="col-md-8 col-md-offset-2">
                      <div class="form-group">
                        <label for="form.observaciones.name">{{ form.observaciones.label }}</label>
                        {{ form.observaciones }}
                      </div>
                    </div>
                   
                  </div>
                    <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}