{% extends 'app/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <form method="POST">
                        
                        {% csrf_token %}
                        <h1>Establecimientos</h1>
                        <h3>¿Desea eliminar el registro de {{ establecimiento.nombre }} ?</h3>
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                        <a class="btn btn-default" href="{% url 'activos:establecimiento_list' %}">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}