{% extends "app/base.html" %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> MODELOS</h4>
                        <p class="card-category"> Lista de modelos de los bienes</p>
                        <a href="{% url 'activos:modelo_create' %}" class="btn btn-primary">Crear Modelo</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>Id</td>
                                        <td>Nombre</td>
                                        <td>Acciones</td>
                                    </tr>
                                </thead> 
                                <tbody>
                                    {% if object_list %}
                                    {% for modelo in object_list %}
                                    <tr>
                                        <td>{{ modelo.id }}</td>
                                        <td>{{ modelo.nombre }}</td>
                                        <td>
                                            <a class="mdi mdi-lead-pencil" href="{% url 'activos:modelo_edit' modelo.id %}"></a> | 
                                            <a class="mdi mdi-delete"      href="{% url 'activos:modelo_delete' modelo.id %}"></a> | 
                                            <!-- <a class="mdi mdi-eye"         href=""></a> -->
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    {% else %}
                                    <h1>No hay registro de modelos</h1>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}