{% extends 'app/base_login.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content_login %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        {% csrf_token %}
        <!-- Tabs Titles -->
        <h2 class="active"> LOGIN </h2>

        <!-- Icon -->
        <div class="fadeIn first">
        <img src="{% static 'images/cropped-icono.png' %}" id="icon" alt="User Icon" />
        </div>
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="card-block">
                            <div id="div-alert">
                                {% bootstrap_messages %}
                            </div>
                            <h3>Iniciar Sesión</h3>
                                <form method="POST" id="login">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="form-group">
                                                <label class="required" for="username">Usuario: </label>
                                                <input class="form-control" type="text" name="username" placeholder="Usuario" title="Ingrese el nombre de usuario correcto">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="form-group">
                                                <label class="required" for="username">Contraseña: </label>
                                                <input class="form-control" placeholder="Contraseña" type="password" name="password" title="Ingrese la contraseña de acuerdo al usuario ingresado.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="form-group">
                                                <a href="{% url 'password_reset_form' %}">¿Olvidastes tu contraseña?</a>
                                                <input class="btn btn-primary" type="submit" value="Iniciar session" >
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
    </div>
</div>


{% endblock content_login %}