<!--{% extends 'app/base.html' %}
{% load static %}
{% block header %}
    
{% endblock header %}
    
{% block navbar %}
{% endblock navbar %}
{% block leftsidebar %}
{% endblock leftsidebar %}
{% block content %}
<nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex" id="yui_3_17_2_1_1619906930700_23">
    
    

    <a href="{% url 'logout' %}" class="navbar-brand has-logo">
            <span class="logo d-inline">
            <img src="https://eva.tecnologicoloja.edu.ec/pluginfile.php/1/core_admin/logocompact/300x300/1615241166/kj.png" alt="EVA ISTL">
            </span>
    </a>

    <ul class="navbar-nav trema-custom-menu d-none d-md-flex">
        custom_menu -->            
        
        <!-- page_heading_menu 
        
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <div class="d-none d-lg-block">
            
        </div>
        <li class="nav-item lang-menu">
            <span class="dropdown nav-item">

</span>
        </li>
         navbar_plugin_output 
        <li class="nav-item">
        
        </li>
        user_menu 
         <li class="nav-item d-flex align-items-center">
            <div class="usermenu"><span class="login">Usted no se ha identificado. (<a href="{% url 'login' %}">Acceder</a>)</span></div>
        </li> 
    </ul>
    search_box 
</nav>
<div id="page" class="container-fluid">
    <div id="frontpage-banner">
        <div id="frontpage-banner-content">
            <center> <img src="{% static 'images/cropped-icono.png' %}" id="icon" alt="User Icon" /></center>
            <h2 class="pb-4 pl-3 mb-3" ><center> Sistema de Bienes y Activos</center></h2>
            <h3 class="mb-3"><center> Manten registrado todo lo que tenemos</center></h3>
            <br><br>
            <center> <a href="{% url 'login' %}" class="m-3 btn btn-primary" role="button"> Iniciar Sesión</a></center>
        </div>
        
    </div>


    <div id="page-content" class="container p-0 mb-5">
        <div id="region-main-box" class="row col-12 p-0">
            <section id="region-main">
                <div id="defaultfrontpagebody" class="mb-4">
                    
                </div>
                <span class="notifications" id="user-notifications"></span>
                <div role="main"><span id="maincontent"></span><br></div>
                
                

            </section>
        </div>
    </div>
</div>

{% endblock content %}-->
